<!DOCTYPE html>
<html lang="kr" xmlns:ht="http://www.thymleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel ="stylesheet" th:href="@{css/login.css}" href="../css/login.css">
</head>
<body>
   <p></p> <h4>회원 가입</h4><p>
   <p><h4>회원정보 입력</h4><p>

    <form action="" th:action th:object="$(form)" method="post">
      <div class="member">

      <!--로고-->
      <img class="logo" src="/images/signup.png">

      <!--로그인 ID-->
      <div>
       <div class="field">
            <label for= "loginId">로그인 ID</label>
            <input type="text" id ="loginId" th:field="*(loginId)"/>
       <div>

       <!--회원 이름-->
       <div class="field">
       <p><label for= "memberName">이름</label>
       <input type="text" id ="membername" th:field="*(membername)"/>
       </div>

       <!--비밀 번호-->
       <div class="field">
            <label for="password1">비밀번호</label>
            <input class= type="password" id ="password" th:field="*(password)"/></p>


       <div class="field">
           <label for= "academyName">학원 이름</label>
           <input type="text" id ="academyName" th:field="*(academyName)" placeholder="학원이름">
           th:errors="*{academyName}"
       <

       <button type="submit">가입</button>
       <button type="button" th onclick="|location.href='@{/members/new}'|">취소</button>
    <div>
   </form>
</body>
</html>